<?xml version="1.0"?>
<robot name="robot_arm_description">
<link name="world"/>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_arm_description/meshes/base.stl"/>
      </geometry>
    </visual>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_arm_description/meshes/servo1.stl"/>
      </geometry>
    </visual>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_arm_description/meshes/rotate_base.stl"/>
      </geometry>
    </visual>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_arm_description/meshes/joint.stl"/>
      </geometry>
    </visual>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_arm_description/meshes/link1.stl"/>
      </geometry>
    </visual>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_arm_description/meshes/link2.stl"/>
      </geometry>
    </visual>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_arm_description/meshes/link2__2.stl"/>
      </geometry>
    </visual>

  </link>

</robot>
